.card {
    cursor: pointer;
    overflow: hidden;
}
.card-img{
    height: 240px;
    object-fit: cover;
}

.card-img, .card-img-top {
    transition: transform 1s;
}

.card-img, .card-img-top:hover {
    transform: scale(1.1);
}

.card .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background-color: rgba(253, 253, 253, 0.9);
    transform: scale(0);
    transition: all 0.5s;
}

.card:hover .details {
    transform: scale(1);
}

.card .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 10px;
}

.content h3 {
    color: #2ca4b4;
}

.content p {
    color: #2ca4b4;
    font-weight: 500;
}

.link-repo a {
    color: #2ca4b4;
}

.link-repo a:hover {
    color: #113b41;
}

.zoom {
    animation: zoom 1.5s ease-out;
}

@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}