@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Xanh+Mono&display=swap');
.about {
    background-color: #282c34;
    overflow: hidden;
}

.color {
    color: white;
    font-size: large;
    font-family: 'Cairo';
}

.aboutMe-text h3 {
    color: white;
    font-family: 'Cairo';
}

.box h4 {
    color: white;
    text-decoration: underline;
    font-family: 'Cairo';
}

.box h3, h5 {
    color: #2ca4b4;
    font-family: 'Cairo';
}

.box p, h6 {
    color: white;
    font-family: 'Cairo';
}

.box h6 {
    font-size: smaller;
    font-weight: small;
    font-family: 'Cairo';
}

.portfolio-img img {
    cursor: pointer;
    transition: all 0.6s ease;
    animation: imgAnimate 2s ease;
}

.portfolio-img img:hover {
    transform: scale(1.05);
}

.aboutMe-text {
    animation: text 2s ease;
}

@keyframes imgAnimate {
    0% {
        opacity: 0;
        transform: translateX(-250px)
    }
    100% {
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes text {
    0% {
        opacity: 0;
        transform: translateX(250px)
    }
    100% {
        opacity: 1;
        transform: translateX(0px)
    }
}

.box {
    border-left: 5px solid;
    border-image: linear-gradient( to bottom, #2ca4b4, rgba(0, 0, 0, 0)) 1 100%;
    transition: all 0.3s ease;
    animation: info 2s ease;
}

@keyframes info {
    0% {
        opacity: 0;
        transform: translateY(250px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

.btn-outline-primary {
    border-color: #2ca4b4 !important;
}

.btn-outline-primary:hover {
    background-color: #2ca4b4 !important;
    color: white;
}